block content
    section
        block pageHeader
            .page-header
                h1 #{x('Users')}
                    a.btn.btn-primary.float-right(href="/users/add") #{x('Add')}
        block table
            table.table-striped.datatable
                thead.align-left
                    tr
                        th #{x('Username')}
                        th #{x('Email')}
                        block additionalFieldsHeader
                        th #{x('Actions')}
                tbody
                    - users.forEach(function(user){
                        tr
                            td
                                a(href="/user/edit/#{user._id}") #{user.username}
                            td= user.email
                            block additionalFields
                            td
                                block actions
                                    a(href='/user/#{user._id}').btn.btn-danger.destroy #{x('Delete')}
                    -})
include ./datatable